POPULARITY BASED FILTERING

In [2]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.2-cp39-cp39-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.22.4 (from pandas)
  Downloading numpy-2.0.1-cp39-cp39-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.9 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.9 kB ? eta -:--:--
     ------------------- ------------------ 30.7/60.9 kB 660.6 kB/s eta 0:00:01
     ------------------------- ------------ 41.0/60.9 kB 245.8 kB/s eta 0:00:01
     -------------------------------------- 60.9/60.9 kB 361.8 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\wajeeha.aftab\appdata\roaming\python\python39\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\wajeeha.aftab\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp39-cp39-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.6 MB 1.9 MB/s eta 0:00:07
   ---------------------------------------- 0.1/11.6 MB 1.7 MB/s eta 0:00:07
   ---------------------------------------- 0.1/11.6 MB 901.1 kB/s eta 0:00:13
    --------------------------------------- 0.3/11.6 MB 1.5 MB/s eta 0:00:08
   - -------------------------------------- 0.3/11.6 MB 1.6 MB/s eta 0:00:08
   - -------------------------------------- 0.5/11.6 MB 1.7 MB/s eta 0:00:07
   -- ------------------------------------- 0.7/11.6 MB 2.3 MB/s eta 0:00:05
   -- ------------------------------------- 0.8/11.6 MB 2.2 MB/s eta 0:00:05
   ---- ----------------------------------- 1.2/11.6 MB 2.9 MB/s eta 0:00:04
   ----- ---------------------------------- 1.6/11.6 MB 3.6 MB/s eta 0:00:03
   ------ --------------------------------- 2.0/11.6 MB 4.0 MB/s eta 0:00:03
   --------- ------------------------------ 2.8/11.6 MB 5.2 MB/s eta 0:00:02
   ----------- ---------------------------- 3.3/11.6 MB 5.8 MB/s eta 0:00:02
   --------------- ------------------------ 4.6/11.6 MB 7.3 MB/s eta 0:00:01
   --------------------- ------------------ 6.3/11.6 MB 9.4 MB/s eta 0:00:01
   ----------------------- ---------------- 6.7/11.6 MB 9.3 MB/s eta 0:00:01
   ---------------------------- ----------- 8.3/11.6 MB 10.8 MB/s eta 0:00:01
   -------------------------------- ------- 9.5/11.6 MB 11.9 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.6 MB 14.9 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 21.1 MB/s eta 0:00:00
Downloading numpy-2.0.1-cp39-cp39-win_amd64.whl (16.6 MB)
   ---------------------------------------- 0.0/16.6 MB ? eta -:--:--
   ----- ---------------------------------- 2.1/16.6 MB 67.1 MB/s eta 0:00:01
   ----- ---------------------------------- 2.1/16.6 MB 67.1 MB/s eta 0:00:01
   --------- ------------------------------ 3.8/16.6 MB 27.3 MB/s eta 0:00:01
   ------------ --------------------------- 5.2/16.6 MB 33.4 MB/s eta 0:00:01
   -------------- ------------------------- 6.2/16.6 MB 26.4 MB/s eta 0:00:01
   -------------------- ------------------- 8.4/16.6 MB 29.7 MB/s eta 0:00:01
   -------------------- ------------------- 8.4/16.6 MB 26.8 MB/s eta 0:00:01
   ----------------------- ---------------- 9.5/16.6 MB 25.4 MB/s eta 0:00:01
   --------------------------- ------------ 11.5/16.6 MB 27.3 MB/s eta 0:00:01
   ---------------------------- ----------- 11.6/16.6 MB 23.4 MB/s eta 0:00:01
   ---------------------------------- ----- 14.2/16.6 MB 28.4 MB/s eta 0:00:01
   ----------------------------------- ---- 14.6/16.6 MB 25.2 MB/s eta 0:00:01
   ------------------------------------- -- 15.6/16.6 MB 27.3 MB/s eta 0:00:01
   ---------------------------------------- 16.6/16.6 MB 26.2 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   -------- ------------------------------- 102.4/505.5 kB ? eta -:--:--
   -------- ------------------------------- 102.4/505.5 kB ? eta -:--:--
   ---------------------------------------  501.8/505.5 kB 3.9 MB/s eta 0:00:01
   ---------------------------------------- 505.5/505.5 kB 4.0 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 20.9 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.1 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
credits = pd.read_csv('credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

![image.png]()

In [4]:
#top 10 percent movies acc to vote count
m = movies["vote_count"].quantile(0.9)
m

1838.4000000000015

In [8]:
C = movies["vote_average"].mean()
C

np.float64(6.092171559442016)

In [9]:
def weighted_rating(df, m=m, C=C):
    R = df["vote_average"]
    v = df["vote_count"]
    wr = ((v / v+m) * R) + (m / (v+m) * C)
    return wr

In [13]:
movies_filtered = movies.copy().loc[movies["vote_count"] >= m]
movies_filtered.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [14]:
movies_filtered["weighted_rating"] = movies_filtered.apply(weighted_rating, axis=1)
movies_filtered.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,weighted_rating
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,13244.501200
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,12693.626983
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,11589.996513

In [12]:
movies_filtered.sort_values("weighted_rating", ascending=False)[["title", "weighted_rating"]].head(20)

                                title  weighted_rating
1881         The Shawshank Redemption     15636.015145
3337                    The Godfather     15452.408618
2731           The Godfather: Part II     15269.183637
2294                    Spirited Away     15268.992360
3865                         Whiplash     15268.858331
1818                 Schindler's List     15268.835976
3232                     Pulp Fiction     15268.110923
662                        Fight Club     15268.015418
2247                Princess Mononoke     15086.010823
1987             Howl's Moving Castle     15086.004701
4602                     12 Angry Men     15085.939730
2170                           Psycho     15085.773307
3719  One Flew Over the Cuckoo's Nest     15085.434195
3057               American History X     15085.387154
1847                       GoodFellas     15085.335124
690                    The Green Mile     15084.982665
1990          The Empire Strikes Back     15084.531246
809                      Forrest Gump     15084.226891
65                    The Dark Knight     15083.889214
4302   The Good, the Bad and the Ugly     14901.839149